# No need to host the build, as it can be done simply by running the build command
**/build
# Etienne: I store support scripts in here that are tangentially related to the project. e.g. the cvs -> JSON conversion script
**/support
# Since we are using sass, no css files required in the project
*.css
# Everyone is responsible for adding the required dependencies for building.
node_modules/*

#doc files to ignore
docs/databaseDoc/*
docs/apidoc/*

#ignore enviroment variables
.env

database/aaysDB.sql
