$uiWidth: 30vw
$mapControlHeight: 5vh
$mapControlMargin: 4vh
$mapControlPadding: 10px
$navbarPadding: 10px
$tabBarHeight: 40px
$tabBarMargin: 4vh
$navbarWidth: calc(#{$uiWidth} - (2 * #{$navbarPadding}))
$navMarginTop: calc(#{$tabBarHeight} + (2 * #{$tabBarMargin}))
$searchboxHeight: 30px
$searchbarWidth: 0px

h1
  color: blue

body
  margin: 0

.side-panel
  border: 1px gray solid
  box-shadow: 2px 2px 1px #888888
  background-color: white

#tab-bar
  width: #{$uiWidth}
  height: #{$tabBarHeight}
  margin-left: 4vh
  margin-top: #{$tabBarMargin}
  padding: #{$navbarPadding}
  position: absolute
  z-index: 2

.tab_title
	width: #{$uiWidth/2}
	height: 40px
	text-align: center
	line-height: 40px
	color: #fff
	background-color: #bdbdbd
	display: inline-block

.active
	color: #000
	background-color: #fff

.tab_item
	display: none
.show
	display: block

.nav-panel
  width: #{$uiWidth}
  height: 90vh
  margin-left: 4vh
  margin-top: #{$navMarginTop}
  padding: #{$navbarPadding}
  position: absolute
  z-index: 2

.show-number
  width: #{$uiWidth}
  text-align: left
  list-style-type: none


#map-controls
  width: #{$uiWidth}
  height: #{$mapControlHeight}
  margin: 4vh
  padding: #{$mapControlPadding}
  position: absolute
  z-index: 2

#search-box
  width: calc(#{$navbarWidth} - #{$searchbarWidth})
  height: #{$searchboxHeight}
  margin-right: 0px
  font-size: 25px
  vertical-align: bottom

#navbar-list
  margin-top: 10px
  height: calc(90vh - #{$searchboxHeight} - 16px - calc(#{$navbarPadding} * 2))
  overflow-y: auto

.navbar-list-autocomplete-item
  height: 60px
  border-top: 1px solid gray
  background-color: white
  transition: background-color 0.1s

.navbar-list-autocomplete-icon
  display: inline-block
  width: 100px
  height: 50px

.navbar-list-autocomplete-text
  display: inline-block
  vertical-align: top
  width: calc(#{$navbarWidth} - 120px)
  height: 50px
  margin-left: 10px
  padding-top: 20px
  font-size: 15px

.navbar-list-autocomplete-item:hover
  background-color: rgb(180,180,180)

.navbar-list-item
  height: 110px
  border-top: 1px solid gray
  background-color: white
  transition: background-color 0.1s

.navbar-list-icon
  display: inline-block
  width: 100px
  height: 100px

.navbar-list-text
  display: inline-block
  vertical-align: top
  width: calc(#{$navbarWidth} - 120px)
  height: 100px
  margin-left: 10px
  padding-top: 10px
  font-size: 20px

.navbar-list-item:hover
  background-color: rgb(180,180,180)

.navbar-count-poly-box
  //height: 110px
  padding-top: 10px
  padding-bottom: 10px
  border-top: 1px solid gray
  //transition: background-color 0.1s

.navbar-count-poly-title
  display: inline-block
  vertical-align: bottom
  width: calc(#{$navbarWidth} - 120px)
  //height: 100px
  margin-left: 10px
  font-size: 20px

.navbar-count-poly-text
  display: inline-block
  vertical-align: bottom
  width: calc(#{$navbarWidth} - 120px)
  //height: 100px
  margin-top: 5px
  margin-left: 10px
  font-size: 20px

.fullScreen
  height: 100vh
  width: 100vw

.container
  height: inherit
  width: inherit

#map-container
  position: relative
  text-align: center

#map
  position: absolute
  top: 0
  left: 0
  z-index: 1

button
  border: 1px solid gray
  border-radius: 2px
  background-color: white
  outline: none

button:hover
  background-color: gray

@charset "UTF-8"

@font-face
  font-weight: normal
  font-style: normal


.notification-container
  box-sizing: border-box
  position: fixed
  top: 0
  right: 0
  z-index: 999999
  width: 420px
  padding: 0px 15px
  max-height: calc(100% - 30px)
  overflow-x: hidden
  overflow-y: auto

.notification
  box-sizing: border-box
  padding: 15px 15px 15px 58px
  border-radius: 2px
  color: #fff
  background-color: #ccc
  box-shadow: 0 0 12px #999
  cursor: pointer
  font-size: 1.5em
  line-height: 1.2em
  position: relative
  opacity: 0.9
  margin-top: 15px
  .title
    font-size: 1em
    line-height: 1.2em
    font-weight: bold
    margin: 0 0 5px 0
  &:hover, &:focus
    opacity: 1

.notification-enter
  visibility: hidden
  transform: translate3d(100%, 0, 0)
  &.notification-enter-active
    visibility: visible
    transform: translate3d(0, 0, 0)
    transition: all 0.4s

.notification-leave
  visibility: visible
  transform: translate3d(0, 0, 0)
  &.notification-leave-active
    visibility: hidden
    transform: translate3d(100%, 0, 0)
    transition: all 0.4s

.notification:before
  position: absolute
  top: 50%
  left: 15px
  margin-top: -14px
  display: block
  font-family: 'Notification'
  width: 28px
  height: 28px
  font-size: 28px
  text-align: center
  line-height: 28px

.notification-info
  background-color: #2f96b4
  &:before
    content: ""

.notification-success
  background-color: #51a351
  &:before
    content: ""

.notification-warning
  background-color: #f89406
  &:before
    content: ""

.notification-error
  background-color: #bd362f
  &:before
    content: ""
