$uiWidth: 30vw
$mapControlHeight: 5vh
$mapControlMargin: 4vh
$mapControlPadding: 10px
$navbarPadding: 10px
$navbarWidth: calc(#{$uiWidth} - (2 * #{$navbarPadding}))
$navMarginTop: calc(#{$mapControlHeight} + (2 * #{$mapControlMargin}))
$searchboxHeight: 30px
$searchbarWidth: 0px

h1
  color: blue

body
  margin: 0

.side-panel
  border: 1px gray solid
  box-shadow: 2px 2px 1px #888888
  background-color: white

.side

#tab-bar
  width: #{$uiWidth}
  height: 40px
  margin-left: 4vh
  margin-top: 4vh
  padding: #{$navbarPadding}
  position: absolute
  z-index: 2

.tab_title
	width: 50px
	height: 90px
	text-align: center
	line-height: 40px
	color: #fff
	background-color: #bdbdbd
	display: inline-block

.active
	color: #000
	background-color: #fff

.tab_item
	display: none
.show
	display: block

.nav-panel
  width: #{$uiWidth}
  height: 90vh
  margin-left: 4vh
  margin-top: #{$navMarginTop}
  padding: #{$navbarPadding}
  position: absolute
  z-index: 2

.show-number
  width: #{$uiWidth}
  text-align: left
  list-style-type: none


#map-controls
  width: #{$uiWidth}
  height: #{$mapControlHeight}
  margin: 4vh
  padding: #{$mapControlPadding}
  position: absolute
  z-index: 2

#search-box
  width: calc(#{$navbarWidth} - #{$searchbarWidth})
  height: #{$searchboxHeight}
  margin-right: 0px
  font-size: 25px
  vertical-align: bottom

#navbar-list
  margin-top: 10px
  height: calc(90vh - #{$searchboxHeight} - 16px - calc(#{$navbarPadding} * 2))
  overflow-y: auto

.navbar-list-autocomplete-item
  height: 60px
  border-top: 1px solid gray
  background-color: white
  transition: background-color 0.1s

.navbar-list-autocomplete-icon
  display: inline-block
  width: 100px
  height: 50px

.navbar-list-autocomplete-text
  display: inline-block
  vertical-align: top
  width: calc(#{$navbarWidth} - 120px)
  height: 50px
  margin-left: 10px
  padding-top: 20px
  font-size: 15px

.navbar-list-autocomplete-item:hover
  background-color: rgb(180,180,180)

.navbar-list-item
  height: 110px
  border-top: 1px solid gray
  background-color: white
  transition: background-color 0.1s

.navbar-list-icon
  display: inline-block
  width: 100px
  height: 100px

.navbar-list-text
  display: inline-block
  vertical-align: top
  width: calc(#{$navbarWidth} - 120px)
  height: 100px
  margin-left: 10px
  padding-top: 10px
  font-size: 20px

.navbar-list-item:hover
  background-color: rgb(180,180,180)

.fullScreen
  height: 100vh
  width: 100vw

.container
  height: inherit
  width: inherit

#map-container
  position: relative
  text-align: center

#map
  position: absolute
  top: 0
  left: 0
  z-index: 1

button
  border: 1px solid gray
  border-radius: 2px
  background-color: white
  outline: none

button:hover
  background-color: gray
